{% load static %}
<header class="nav">
    <figure class="adjust-logo">
        <button class="hidden-button-logo">
            <img src="{% static 'images/imagem-login.svg' %}" alt="">
        </button>
    </figure>
    <h1 class="title-app">starTask</h1>
    {% if request.path != '/add-task/' or not request.path != '/update-task/' %}
    <button type="button" class="crt-prjct" data-toggle="modal" data-target="#exampleModal"> 
        <img src="{% static 'images/add_project.svg' %}" alt="">
        <p class="texts-buttons">Add Project</p>
    </button>
    {% endif %}
</header>