<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

   

    {% comment %} <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password1">Password:</label>
    <input type="password" id="password1" name="password1" required><br><br>

    <label for="password2">Confirm Password:</label>
    <input type="password" id="password2" name="password2" required><br><br>  {% endcomment %}


    <button type="submit">Register</button>
</form>
<p>Faça login? <a href="{% url 'login' %}">Login</a></p>
{% if form.errors %}
        <div class="errors">
            {{ form.errors }}
        </div>
    {% endif %}
</body>
</html>