<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>StarTask</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/global.css" %}'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <script src="{% static 'js/global.js' %}"></script>

</head>
<body>
    <header class="nav">
        <figure class="adjust-logo">
            <button class="hidden-button-logo">
                <img src="{% static 'images/imagem-login.svg' %}" alt="">
            </button>
        </figure>
        <h1 class="title-app">starTask</h1>
        <button type="button" class="crt-prjct" data-toggle="modal" data-target="#exampleModal"> 
            <img src="{% static 'images/add_project.svg' %}" alt="">
            <p class="texts-buttons">Add Project</p>
        </button>
    </header>
  <!-- Modal Add Project-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'add_project' %}">
            {% csrf_token %} 
            {{ project_form.as_p }}
            <div class="form-group">
              <label for="projectName">Nome do Projeto</label>
              <input type="text" id="projectName" name="name" required>
            </div>
         
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
         </form>
        </div>
      </div>
    </div>
  </div>


    <div class="log-out">
        <button class="log-out-button">
            Log Out
        </button>
    </div>
    <main class="application">
        <section class="texts">
            <div class="project-list-text">Project List</div>
            <div class="to-do-text">A fazer</div>
            <div class="in-progress-text">Em andamento</div>
            <div class="finished-text">Finalizado</div>
        </section>

        <div class="alignment">
     
            <div class="projects">
                {% for project in projects %}
                <a href="{% url 'task_list' %}?project_id={{ project.id }}">
                  <button class="project">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.created_at }}</p>
                  </button>
                </a>
                {% endfor %}
            </div>
    




       
            <div id="to-do-container" class="to-do">
                {% for task in tasks %}
                {% if task.status_completed == 'todo' %}
               
                <div class="to-do-list" data-task-id="{{ task.id }}" data-task-title="{{ task.title }}" data-task-description="{{ task.description }}" data-task-created-at="{{ task.created_at }}">
                
                    <div class="options">
                        <button class="edit-button">
                            <img src="{% static 'images/edit.svg' %}" alt="">
                        </button>
                        <h2>{{ task.title }}</h2>
                        <button class="delete-button" onclick="if(confirm('Tem certeza que deseja deletar esta tarefa?')) {window.location.href='{% url "delete_task" task.id %}?project_id={{ request.GET.project_id }}'}">
                            <img src="{% static 'images/delete.svg' %}" alt="">
                        </button>
                    </div>
                    <div class="description">
                        <p>{{ task.description }}</p>
                    </div>
                    <div class="check">
                    
                        <button class="send-progress" onclick="window.location.href='{% url 'update_task_status' task.id 'in_progress' %}?project_id={{ request.GET.project_id }}'"></button>
                     
                        <button onclick="window.location.href='{% url 'update_task_status' task.id 'finished' %}?project_id={{ request.GET.project_id }}'" class="send-finished"></button>
                    </div>
                    <div>
                        <p> Atualizada em {{task.updated_at}} </p>
                    </div>
                </div>
              
                {% endif %}
           
                {% empty %}
                <p>No tasks available for this project.</p>
                {% endfor %}
            </div>

            <div id="progress-container" class="progress" >
              {% for task in tasks %}
              {% if task.status_completed == 'in_progress' %}
              <div class="to-do-list" data-task-title="{{ task.title }}" 
              data-task-description="{{ task.description }}" 
              data-task-created-at="{{ task.created_at }}">
                  <div class="options">
                      <button class="edit-button">
                          <img src="{% static 'images/edit.svg' %}" alt="">
                      </button>
                      <h2>{{ task.title }}</h2>
                      <button class="delete-button" onclick="if(confirm('Tem certeza que deseja deletar esta tarefa?')) {window.location.href='{% url "delete_task" task.id %}?project_id={{ request.GET.project_id }}'}">
                          <img src="{% static 'images/delete.svg' %}" alt="">
                      </button>
                  </div>
                  <div class="description">
                      <p>{{ task.description }}</p>
                  </div>
                  <div class="check">
                    
                      <button class="send-todo" onclick="window.location.href='{% url 'update_task_status' task.id 'todo' %}?project_id={{ request.GET.project_id }}'"></button>        
                      <button class="send-finished" onclick="window.location.href='{% url 'update_task_status' task.id 'finished' %}?project_id={{ request.GET.project_id }}'"></button>
                  </div>
                  <div>
                      <p> Atualizada em {{task.updated_at}} </p>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>

            <div id="finished-container" class="finished">
              {% for task in tasks %}
              {% if task.status_completed == 'finished' %}
              <div class="to-do-list" data-task-title="{{ task.title }}" 
              data-task-description="{{ task.description }}" 
              data-task-created-at="{{ task.created_at }}">
                  <div class="options">
                      <button class="edit-button">
                          <img src="{% static 'images/edit.svg' %}" alt="">
                      </button>
                      <h2>{{ task.title }}</h2>
                      <button class="delete-button" onclick="if(confirm('Tem certeza que deseja deletar esta tarefa?')) {window.location.href='{% url "delete_task" task.id %}?project_id={{ request.GET.project_id }}'}">
                          <img src="{% static 'images/delete.svg' %}" alt="">
                      </button>
                  </div>
                  <div class="description">
                      <p>{{ task.description }}</p>
                  </div>
                  <div class="check">
                      <button class="send-todo" onclick="window.location.href='{% url 'update_task_status' task.id 'todo' %}?project_id={{ request.GET.project_id }}'"></button>
                      <button class="send-progress" onclick="window.location.href='{% url 'update_task_status' task.id 'in_progress' %}?project_id={{ request.GET.project_id }}'"></button>
                  </div>
                  <div>
                      <p> Atualizada em {{task.updated_at}} </p>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
    </div>

    <div class="position-button">

      {% if request.GET.project_id %}
        <button type="button" class="del-project" onclick="if(confirm('Tem certeza que deseja deletar este Projeto?')) {window.location.href='{% url 'delete_project' %}?project_id={{ request.GET.project_id }}'}">      
            <p class="texts-buttons">Delete Project</p>
            <img src="{% static 'images/Plus.png' %}" alt="">
        </button>
        {% else %}
        <button type="button" class="del-project" onclick="alert('Por favor, primeiro selecione um projeto')">      
          <p class="texts-buttons">Delete Project</p>
          <img src="{% static 'images/Plus.png' %}" alt="">
      </button>
        {% endif %}


        {% if request.GET.project_id %}
      <a href="{% url 'add_task' %}?project_id={{ request.GET.project_id }}">
        <button type="button" class="crt-task">      
            <p class="texts-buttons">Add Task</p>
            <img src="{% static 'images/Plus.png' %}" alt="">
        </button>
      </a>
      {% else %}
      
        <button type="button" class="crt-task" onclick="alert('Por favor, primeiro selecione um projeto')">      
            <p class="texts-buttons">Add Task</p>
            <img src="{% static 'images/Plus.png' %}" alt="">
        </button>
      
{% endif %}

    </div>

    </main>

    <!--Modal Data -->
    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="taskModalLabel">Task Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><strong>Title:</strong> <span id="modal-task-title"></span></p>
            <p><strong>Description:</strong> <span id="modal-task-description"></span></p>
            <p><strong>Created At:</strong> <span id="modal-task-created-at"></span></p>
          </div>
        </div>
      </div>
    </div>


    <footer class="ftr">
        <p>2024&copy;</p>
        <p>Leonardo Wicher</p>
    </footer>
</body>

</html>