<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>StarTask</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/global.css" %}'>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Inclua o jQuery e o JavaScript do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</head>
<body>
    <header class="nav">
        <figure class="adjust-logo">
            <button class="hidden-button-logo">
                <img src="{% static 'images/imagem-login.svg' %}" alt="">
            </button>
        </figure>
        <h1 class="title-app">starTask</h1>
        <button type="button" class="crt-prjct" data-toggle="modal" data-target="#exampleModal"> 
            <img src="{% static 'images/add_project.svg' %}" alt="">
            <p class="texts-buttons">Add Project</p>
        </button>
    </header>
  
  <!-- Modal Add Project-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <div class="log-out">
        <button class="log-out-button">
            Log Out
        </button>
    </div>
    <main class="application">
        <section class="texts">
            <div class="project-list-text">Project List</div>
            <div class="to-do-text">A fazer</div>
            <div class="in-progress-text">Em andamento</div>
            <div class="finished-text">Finalizado</div>
        </section>

        <div class="alignment">
     
            <div class="projects">
                {% for project in projects %}
                <div class="project">
                    <h2>{{ project.name }}</h2>
                    <p>{{ project.created_at }}</p>
                </div>
                {% endfor %}
            </div>
        
       
            <div class="to-do">
                {% for task in task_list %}
                <div class="to-do-list">
                    <div class="options">
                        <button class="edit-button">
                            <img src="{% static 'images/edit.svg' %}" alt="">
                        </button>
                        <h2>{{ task.title }}</h2>
                        <button class="delete-button">
                            <img src="{% static 'images/delete.svg' %}" alt="">
                        </button>
                    </div>
                    <div class="description">
                        <p>{{ task.description }}</p>
                    </div>
                    <div class="check">
                        <button class="send-progress"></button>
                        <button class="send-finished"></button>
                    </div>
                    <div>
                        <p> {{task.created_at}} </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="progress-list">

            </div>

            <div class="finished-list">

            </div>
    </div>

    <div class="position-button">
        <button type="button" class="crt-task" data-toggle="modal" data-target="#TaskModal">      
            <p class="texts-buttons">Add Task</p>
            <img src="{% static 'images/Plus.png' %}" alt="">
        </button>
    </div>

    <!-- Modal Add Task-->
  <div class="modal fade" id="TaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form class="form-task" method="POST" action="">
                <input type="text">
                <textarea name="" id="">
                </textarea>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    </main>
    <footer class="ftr">
        <p>2024&copy;</p>
        <p>Leonardo Wicher</p>
    </footer>
</body>
</html>