<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/global.css" %}'>
</head>
<body>
    {% include "startask/header.html" %} 
  {% comment %} <header class="nav">
    <figure class="adjust-logo">
        <button class="hidden-button-logo">
            <img src="{% static 'images/imagem-login.svg' %}" alt="">
        </button>
    </figure>
    <h1 class="title-app">starTask</h1>
    {% if request.path != '/add-task/' and not request.path != '/update-task/' %}
    <button type="button" class="crt-prjct" data-toggle="modal" data-target="#exampleModal"> 
        <img src="{% static 'images/add_project.svg' %}" alt="">
        <p class="texts-buttons">Add Project</p>
    </button>
    {% endif %}
</header> {% endcomment %}

<div class="table-add-task">
  <table>
  <thead>
      <tr>
          <th class="title-task">Atualizar task</th>
          <th><a href="{% url 'task_list' %}?project_id={{ request.GET.project_id }}" class="link-back"> 
              
              Voltar
          
      </a></th>
      </tr>
  </thead>
  <tbody>
      <form class="list-task" method="POST">
          {% csrf_token %}
          <input type="hidden" name="project_id" value="{{ request.GET.project_id }}">
          
      <tr>
          <td>
              <label class="labels" for="TaskTitle">Título</label></td>
          <td>
              <input type="text" name="title" id="TaskTitle" autocomplete="off" class="title-task-form" value="{{ task.title }}" required>
          </td>
      </tr>
      <tr>
          <td >
              <label class="label-description" for="TaskDescription">Descrição</label>
          </td>
          <td>
              <textarea class="description-task-form" name="description" id="TaskDescription" autocomplete="off">{{ task.description }}</textarea>
          </td>
      </tr>
      <tr colspan="2">
          <td colspan="2">
              <button type="submit" class="link-save">Save changes</button>
          </td>
  
      </tr>
  </table>
  </div>


  </form>

   {% include "startask/footer.html" %} 

</body>
</html>




