<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="list-task" method="POST" action="{% url 'add_task' %}">
        {% csrf_token %}
        <input type="hidden" name="project_id" value="{{ request.GET.project_id }}">
        <label for="TaskTitle">Título</label>
        <input type="text" name="title" id="TaskTitle" autocomplete="off">
        <label for="TaskDescription">Descrição</label>
        <textarea name="description" id="TaskDescription" autocomplete="off">
        </textarea>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{%  url 'task_list' %}">voltar</a>
      </form>
</body>
</html> 